@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,700,700italic);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

img, object, video, iframe {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

header {
/*  max-height: 10px;*/
}

main {
  margin-top: 150px;
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 800px;
  margin: 0 auto;

}

nav {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-align: right;
  margin-top: 80px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-align: right;
  text-decoration: none;
  color: #5DA9AC;
  margin-top: 120px;
}

p{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-align: left;
}

h3 {
  font-family: 'Raleway',sans-serif;
  padding-top: 2em;
  font-size: 1.3em;
  line-height: 1em;
}

.shortDescription h3 {
  padding-bottom: 20px;
}

#lastline {
  font-weight: 600;
  font-style: italic;
}

.mainnav:hover {
  font-weight: bold;
}

.mainnav {
  text-decoration: none;
  color: #5DA9AC;
  padding-left: 13px;
  padding-right: 13px;}

.logo {
  width: 60px;
  position: absolute;
  left: 10px;
  top:10px;
}

.socialmedia {
  position: absolute;
  top: 20px;
  right: 10px;
  margin-right: 10px;
}


.icon {
  float: right;
  width: 40px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.3); }


.mainnav:active a{
  border: solid gray 2px;
  padding: 10px auto;
}


h1 {
  font-family: 'Raleway';
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
}

p {
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  line-height: 1.5em;
}

/*.coverPhoto {
  width: 100%;
  display: block;
}*/

.projectContainer span{
  font-size: 1em;
  font-style: bold;
  color: gray;
  position: absolute;
  visibility: hidden;
}


.projectContainer:hover span{
  visibility: visible;
  display: inline;
  position: inherit;
  margin: 0 auto;
  /*left: 0 auto;*/
  /*top: 0 auto;*/
}

.caption {
  display: inline-block;
}


.coverPhoto:hover img{
  opacity: 1;
}

/*BLUR*/
.blur img {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
       -o-transition: all .4s ease;
      -ms-transition: all .4s ease;
          transition: all .4s ease;
}

.blur img:hover {
  -webkit-filter: blur(2px);
}

.footerCopyright {
  position:absolute;
  margin-bottom:0px;
  line-height: 1em;
  /*padding-bottom: 10px;*/
  width:100%;
  height:10px;   /* Height of the footer */
  background:none;
}


/* If you're using images in your slider, add this CSS to ensure they take up 100% of the available area */
/*
.carousel-cell {
	width: 100%;
}

.carousel-cell img {
	width: 100%;
	height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after
}

/*about page*/
.carousel-cell {
  padding-bottom: 20px;
}
.portrait {
  padding-top: 30px;
  width: 70%;
  margin: auto;
}

.aboutME p{
  margin-top: 100px;
  margin-bottom: 30px;
  line-height: 1.5em;
  max-width: 600px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Raleway';
  color: #1fa6b8;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #777d80 2px;
  text-decoration: none;
  margin: 100px 0px 100px 0px;
}

.button {
  padding: 30px 0px;
}

.btn:hover {
  background: #d6d6d6;
  text-decoration: none;
}

.photography {
  padding-bottom: 40px;
}



@media screen and (min-width: 400px) {

.yearbookSpread img{
  max-height: 80%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.brief {
  padding-left: 20px;
  padding-right: 20px;
}

.projectContainer {
  position: relative;
  margin: 0px;
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {

  .projectContainer {
    position: relative;
    float: left;
    width: 33%;
    margin: 0px;
    min-width: 60px;
  }

@media screen and (min-width: 800px) {

  .yearbookSpread img{
    max-height: none;;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .brief {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }
